h1 {
    text-align: center;
    color: orange;
}

hr {
    color: orange;
}

p {
    text-align: center;
    font-weight: bold;
    color: orange;
}

summary {
    text-indent: 15px;
    color: lightblue; 
    font-size: larger;
    padding-bottom: 3px;
    border-bottom: 1px solid lightblue;
}

body {
    background-color: rgb(50, 65, 65);
    color: white; 
}